body {
  background-color: #1A202C;
}

.posts-con {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-con {
  width: 100%;
  display: flex;
  justify-content: center;

}

.link {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 70px;
}

.link:hover {
  color: #73a88c;
  transition: .2s;
}

.item-con {
  width: 200px;
  height: 220px;
  margin: 10px;
  background-color: #2D3748;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

button {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: none;
  border: 2px solid #38A169;
  transition: .2s;

}

button:hover {
  box-shadow: 1px 1px 2px 2px #38A169;
  background-color: rgb(224, 224, 224);
}

.a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.nav-con {
  color: white;
}

.batf {
  width: 1200px;
  height: 600px;
  display: flex;
  margin: 0 auto;

}

.bat img {
  width: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.bat1 h3 {
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  margin-top: 0px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
}

.bat1 h4 {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 90px;
  text-align: center;

}

.bat1 h2 {
  color: white;
  padding-left: 500px;
}

.no img{
  width: 100%;
  object-fit: cover;
}

.no{
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
}


@media screen and (max-width:750px) {

  .item-con {
    width: 45%;
    height: 220px;
    margin: 10px;
    background-color: #2D3748;
    border-radius: 8px;
    text-align: center;
    color: white;
  }
  .bat img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .bat1 h3 {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 0px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-left: 15px;
  
  }
  .bat1 h2 {
    color: white;
    padding-left: 50px;
    font-size: 18px;
    
  }
  
  .batf img {
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .bat1 h4 {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
  
  }
}

@media screen and (max-width:500px) {

  .item-con {
    width: 90%;
    height: 220px;
    margin: 10px;
    background-color: #2D3748;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 15px;
  }

  
.nav-con {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -30px;

}
.no{
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
}

}

@media screen and (max-width:1200px) {
  
.batf {
  width: 90%;
  height: 600px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

}
}


@media screen and (max-width:400px) {

  .item-con {
    width: 100%;
    height: 220px;
    margin: 10px;
    background-color: #2D3748;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 15px;
  }
}